.cursor {
  z-index: 1000;
  border: 0.2rem solid white;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  pointer-events: none;
  overflow: hidden;
  position: fixed;
  top: -2rem;
  left: -2rem;
  mix-blend-mode: difference;
  animation: cursors 0.4s ease-in-out infinite;
  animation-direction: alternate;
}
@keyframes cursors {
  0% {
    transform: scale(1);
    box-shadow: 0px 0px 3px white;
  }
  100% {
    transform: scale(1.2);
    box-shadow: 0px 0px 15px white;
  }
}
