@font-face {
  font-family: "Inter";
  src: url("https://fonts.googleapis.com/css2?family=Inter&display=optional");
}
@font-face {
  font-family: "Calibre-Medium";
  src: url("../fonts/Calibre-Medium.ttf"), url("../fonts/Calibre-Medium.woff");
}
@font-face {
  font-family: "Calibre-Semibold";
  src: url("../fonts/Calibre-Semibold.ttf"),
    url("../fonts/Calibre-Semibold.woff");
}
@font-face {
  font-family: "Calibre-Regular";
  src: url("../fonts/Calibre-Regular.ttf"), url("../fonts/Calibre-Regular.woff");
}
@font-face {
  font-family: "SpaceMono-Bold";
  src: url("../fonts/SpaceMono-Bold.ttf");
}
@font-face {
  font-family: "SpaceMono-Regular";
  src: url("../fonts/SpaceMono-Regular.ttf");
}
@font-face {
  font-family: "Cascadia";
  src: url("../fonts/Cascadia.ttf");
}
