//Font Variables
$C-Bold: "Calibre-Semibold";
$C-Medium: "Calibre-Medium";
$C-Regular: "Calibre-Regular";
$SM-Bold: "SpaceMono-Bold";
$SM-Regular: "SpaceMono-Regular";
$CodeFont: "Cascadia";
$Inter: "Inter";
//Colors
$bgColor: #0a192f;
$bodyColor: #dbdbdb;
$highlightColor: #87ffe1;
$highlightColor2: #ef7126;
$highlightColor3: #f9e559;
$bgLogo: #acacac;
$codeString: coral;
$codeVariable: violet;
$codeTag: gold;
$codeFile: lightskyblue;
$errorText: white;
$paranthesis: white;
$loaderBg: azure;
$logoTag: white;
$linkHover: aliceblue;

